# default server

python-telegram-bot

pyyaml

pony

psycopg2

beautifulsoup4

########################
# old

# google-api-python-client
# langdetect

# django
# dj_database_url
# whitenoise
# psycopg2
# gunicorn

###

# Scrapy

###
requests[security]
certifi

