# default server

python-telegram-bot

pyyaml

pony

psycopg2

beautifulsoup4

########################
# old

# oauth2client
# googleapis-common-protos==1.3.5
google-api-python-client
langdetect

# django
# dj_database_url
# whitenoise
# psycopg2
# gunicorn

###

# Scrapy

###
requests[security]
certifi

